/*----------------------------------------------------
  _        __  _
 |_)  /\  (_  |_
 |_) /--\ __) |_

 Element Defaults, Colors and Overrides of core.css
-----------------------------------------------------*/

/*html {overflow: auto;overflow: auto;}*/
body { font:18px/1.62  "chaparral-pro","Perpetua Std","Proxima Nova", Helvetica, Arial, sans-serif; color: #444444; }

h1, h2, h3, h4, h5, h6, ul, ol,dl, p,blockquote,pre,address,.field, .mod, table, .tabset  {margin:10px 20px;}
/*.media .media-block{margin-left:10px}*/
p{margin-bottom: 18px; font-size: 18px; font-weight: 200;}

p a {text-decoration: underline;}
p a:hover {color: #777;}
a, a:active, a:visited {color: inherit; text-decoration: none;  }
a:hover {}

::-moz-selection{ background: #4089b5; color:#fff; text-shadow: none; }
::selection { background:#4089b5; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #edbb54; }

h1, .h1{font-family: "proxima-nova-extra-condensed", Helvetica, Arial, sans-serif; text-transform: uppercase; font-size:228.5%;  line-height:1.25; font-weight:200; font-style: normal; color:#222;text-rendering: geometricPrecision;}
h2, .h2{font-family: "proxima-nova-extra-condensed", Helvetica, Arial, sans-serif; text-transform: uppercase; font-size:160%;    line-height:1.25; font-weight:600; font-style: normal; color:#222;text-rendering: geometricPrecision;}
h3, .h3{font-family: "proxima-nova-extra-condensed", Helvetica, Arial, sans-serif; text-transform: uppercase; font-size:150%;    line-height:1.5;  font-weight:500; font-style: normal; color:#222;text-rendering: geometricPrecision;}
h4, .h4{font-family: "proxima-nova-extra-condensed", Helvetica, Arial, sans-serif; text-transform: uppercase; font-size:150%;    line-height:1.5;  font-weight:200; font-style: normal; color:#222;text-rendering: geometricPrecision;}
h5, .h5{font-family: "proxima-nova-extra-condensed", Helvetica, Arial, sans-serif; text-transform: uppercase; font-size:100%;    line-height:1.5;  font-weight:200; font-style: normal; color:#222;text-rendering: geometricPrecision;}
h6, .h6{font-family: "proxima-nova-extra-condensed", Helvetica, Arial, sans-serif; text-transform: uppercase; font-size:100%;    line-height:1.5;  font-weight:100; font-style: normal; color:#222;text-rendering: geometricPrecision;}


input:focus, textarea:focus, select:focus {border: 1px solid #ccc; box-shadow: none;outline: medium none;}
input[type="text"], input[type="password"] {}
input[type="text"], input[type="password"] {box-shadow: none; height: 100%; *height: 30px; background: transparent; line-height: 30px;  border: none; margin: 0; padding: 0; width: 100%;}
label { font-weight: 600; font-size: 14px;}
textarea {width: 100%; }

/* text color helpers */
.txt-green{color:#a4d133;}
.txt-ltgrey{color:#BFBFBF;}
.txt-ltblue{color:#4089b5;}
.txt-red{color:#9D261D;}




/*----------------------------------------------------
  __    ___       __
 (_  |/  |  |\ | (_
 __) |\ _|_ | \| __)

 Skins of core.css objects
-----------------------------------------------------*/


/* page
-----------------*/
.page {padding: 0 40px; height: auto;}
.page-skin-1 {max-width: 1200px; margin: 0 auto;}
.page-skin-1 .page-header {height: 55px;}
.page-skin-1 .page-header h1 {
  transition: margin-top .8s;
  -moz-transition: margin-top .8s; /* Firefox 4 */
  -webkit-transition: margin-top .8s; /* Safari and Chrome */
  -o-transition: margin-top .8s; /* Opera */
  font-size:150%; background: #222; color: #fff; float: left; padding: 25px 5px 0 20px; margin: -80px 0 0 0; line-height: 1; }
.page-skin-1 .page-header h1.on {margin-top: 0;}
.page-skin-1 .page-header h1 a { color: #fff; display: block;}

.page-header h2 { margin-top: 26px;font-size: 150%; line-height: 1; font-weight: 600; margin-left: 4px;float: left;}

.page-skin-ext-photo .page-header h1 {  background: #d94747;}
.page-skin-ext-photo .page-header h2 a {color: #D94747;}
.page-skin-ext-film .page-header h1 {   background: #2673A6;}
.page-skin-ext-film .page-header h2 a { color: #2673A6;}
.page-skin-ext-blog .page-header h1 {   background: #4f8f50;}
.page-skin-ext-blog .page-header h2 a { color: #4f8f50;}
.page-skin-ext-design .page-header h1 {   background: #E3D661;}
.page-skin-ext-design .page-header h2 a { color: #E3D661;}
.page-skin-ext-about .page-header h1 {   background: #963961;}
.page-skin-ext-about .page-header h2 a { color: #963961;}


/* menu
-----------------*/
.page-nav-skin-header {position: relative;}
.page-nav-skin-header .nav-init {cursor: pointer; height: 60px; width: 60px; border-radius: 60px; background-color: #222; margin: 10px 60px 0 0;}
.page-nav-skin-header .nav-init:hover {cursor: pointer;background-color: #333;}
.page-nav-skin-header .nav-init h2 {color: #fff; font-size: 22px; margin: 0 auto; padding: 22px 11px;}

.page-nav-skin-home {position: absolute; display: none;}
.page-nav-skin-home .nav-init {
  /*transition: margin-left .8s, margin-top .8s, width .8s, height .8s, transform .8s;*/
  /*-moz-transition: margin-left .8s, margin-top .8s, width .8s, height .8s, -moz-transform .8s;*/
  /*-webkit-transition: margin-left .8s, margin-top .8s, width .8s, height .8s, -webkit-transform .8s;*/
  /*-o-transition: margin-left .8s, margin-top .8s, width .8s, height .8s,-o-transform .8s;*/
  cursor: pointer; position: relative; margin: 0 auto; height: 150px; width: 150px; border-radius: 150px; background-color: #222; }
.page-nav-skin-home .nav-init.on {
  /*margin-left: -25px; margin-top: -25px; width: 200px; height: 200px;*/
}
.page-nav-skin-home .nav-init:hover {cursor: pointer;background-color: #333;}
.page-nav-skin-home .nav-init h2 {
  /*transition: padding-top .8s;*/
  /*-moz-transition: padding-top .8s;*/
  /*-webkit-transition: padding-top .8s;*/
  /*-o-transition: padding-top .8s;*/
  font-size: 40px; color: #fff; width: 100%; text-align: center; margin: 0; padding-top: 60px; }
.page-nav-skin-home .nav-init.on h2 {
  /*padding-top: 85px;*/
}

.menu-item {background: #999; border-radius: 60px; height: 60px; width: 60px; list-style: none; cursor: pointer;}
.page-nav-skin-header .menu-item {height: 40px; width: 40px; border-radius: 40px;}
.page-nav-skin-header .menu-item:last-child {margin-right: 0;}

.menu-item:hover {opacity: 0.9;}
.menu-item i {background: transparent url(images/icons.png) no-repeat scroll 0 0; float: left;}
.menu-item h2 span {float: left; clear: left;}
.menu-item h2 {color: #fff; font-size: 18px; width: 100%; margin: 0; }
.menu-item.photo {background-color: #d94747; }
.menu-item.photo h2 {margin-top: 36px; margin-left: 24px;}
.menu-item.photo i {height: 20px; width: 25px; background-position: 0 -45px; margin-left: 4px;}
.menu-item.film {background-color: #2673A6;}
.menu-item.film h2 {margin-top: 57px; margin-left: -2px;}
.menu-item.film i {height: 20px; width: 25px; background-position: 0 1px; margin-left: 0px;}
.menu-item.blog {background-color: #87B33A;}
.menu-item.blog h2 {margin-top: 8px; margin-left: -14px;}
.menu-item.blog i {height: 21px; width: 33px; background-position: 3px -68px; margin-left: -5px;}
.menu-item.design {background-color: #E3D661;}
.menu-item.design h2 {margin-top: 10px; margin-left: 10px;}
.menu-item.design i {height: 20px; width: 25px; background-position: 3px -92px; margin-left: 4px;}
.menu-item.about {background-color: #963961;}
.menu-item.about h2 {margin-top: 43px; margin-left: -26px;}
.menu-item.about i {height: 24px; width: 29px; background-position: 4px -110px;}

.page-nav-skin-header .menu-item h2 span {display: none;}
.page-nav-skin-header .menu-item.film h2 {margin-top: 10px; margin-left: 6px;}
.page-nav-skin-header .menu-item.photo h2 {margin-top: 10px; margin-left: 2px;}
.page-nav-skin-header .menu-item.design h2 {margin-top: 11px; margin-left: 0px;}
.page-nav-skin-header .menu-item.about h2 {margin-top: 6px; margin-left: 2px;}
.page-nav-skin-header .menu-item.blog h2 {margin-top: 9px; margin-left: 6px;}

.menu-skin-header {float: right; width: 290px; width: 300px \9; margin-top: 20px;margin-right: 0;}

.holder {position:absolute; left: 50px; top: 50px;}
.circles {z-index: -1; padding:0; margin:0; list-style:none; width:32px; height:32px; position:absolute; left:-20px; top:-8px; -webkit-transition:}
.circles > li {position:absolute; left:0; top:0;-moz-transition: -moz-transform 0.5s ease-in-out;-ms-transition: -ms-transform 0.5s ease-in-out;-o-transition: -o-transform 0.5s ease-in-out;-webkit-transition: top 0.8s,left 0.8s, -webkit-transform 0.5s ease-in-out;transition: transform 0.5s ease-in-out;}
/*.page-nav-skin-header .circles {left: -55px; top: -30px;}*/

.holder a {display:block; width:32px; height:32px; position:absolute; left:0; top:0; line-height:32px; text-align:center; text-decoration:none;}

ul.circles.on { height: 0; width: 0; }

ul.circles.on li.design {   -moz-transform: rotate(0deg) translatey(136px); -ms-transform: rotate(0deg) translatey(136px);-o-transform: rotate(0deg) translatey(136px);-webkit-transform: rotate(0deg) translatey(136px);transform: rotate(0deg) translatey(136px); }
ul.circles.on li.design h2 { -moz-transform: rotate(0deg);                   -ms-transform: rotate(0deg);-o-transform: rotate(0deg);                                     -webkit-transform: rotate(0deg);transform: rotate(0deg);}
ul.circles.on li.blog {     -moz-transform: rotate(72deg) translatey(136px);-ms-transform: rotate(72deg) translatey(136px);-o-transform: rotate(72deg) translatey(136px);-webkit-transform: rotate(72deg) translatey(136px);transform: rotate(72deg) translatey(136px);}
ul.circles.on li.blog h2 {   -moz-transform: rotate(-72deg);                 -ms-transform: rotate(-72deg);-o-transform: rotate(-72deg);                                   -webkit-transform: rotate(-72deg);transform: rotate(-72deg);}
ul.circles.on li.about {     -moz-transform: rotate(144deg) translatey(136px);-ms-transform: rotate(144deg) translatey(136px);-o-transform: rotate(144deg) translatey(136px);-webkit-transform: rotate(144deg) translatey(136px);transform: rotate(144deg) translatey(136px);}
ul.circles.on li.about h2 {   -moz-transform: rotate(-144deg);                -ms-transform: rotate(-144deg);-o-transform: rotate(-144deg);                                     -webkit-transform: rotate(-144deg);transform: rotate(-144deg);}
ul.circles.on li.film {     -moz-transform: rotate(216deg) translatey(136px);-ms-transform: rotate(216deg) translatey(136px);-o-transform: rotate(216deg) translatey(136px);-webkit-transform: rotate(216deg) translatey(136px);transform: rotate(216deg) translatey(136px);}
ul.circles.on li.film h2 {   -moz-transform: rotate(-216deg);                -ms-transform: rotate(-216deg);-o-transform: rotate(-216deg);                                   -webkit-transform: rotate(-216deg);transform: rotate(-216deg);}
ul.circles.on li.photo {    -moz-transform: rotate(288deg) translatey(136px);-ms-transform: rotate(288deg) translatey(136px);-o-transform: rotate(288deg) translatey(136px);-webkit-transform: rotate(288deg) translatey(136px);transform: rotate(288deg) translatey(136px);}
ul.circles.on li.photo h2 {  -moz-transform: rotate(-288deg);                -ms-transform: rotate(-288deg);-o-transform: rotate(-288deg);                                   -webkit-transform: rotate(-288deg);transform: rotate(-288deg);}

/*.page-nav-skin-header .circles.on li.design {   -moz-transform: rotate(46deg) translatey(136px); -ms-transform: rotate(46deg) translatey(136px);-o-transform: rotate(46deg) translatey(136px);-webkit-transform: rotate(46deg) translatey(136px);transform: rotate(46deg) translatey(136px); }*/
/*.page-nav-skin-header .circles.on li.design h2 { -moz-transform: rotate(-46deg);                   -ms-transform: rotate(-46deg);-o-transform: rotate(-46deg);                                     -webkit-transform: rotate(-46deg);transform: rotate(-46deg);}*/
/*.page-nav-skin-header .circles.on li.blog {     -moz-transform: rotate(2deg) translatey(136px);-ms-transform: rotate(2deg) translatey(136px);-o-transform: rotate(2deg) translatey(136px);-webkit-transform: rotate(2deg) translatey(136px);transform: rotate(2deg) translatey(136px);}*/
/*.page-nav-skin-header .circles.on li.blog h2 {   -moz-transform: rotate(-2deg);                 -ms-transform: rotate(-2deg);-o-transform: rotate(-2deg);                                   -webkit-transform: rotate(-2deg);transform: rotate(-2deg);}*/
/*.page-nav-skin-header .circles.on li.about {     -moz-transform: rotate(24deg) translatey(136px);-ms-transform: rotate(24deg) translatey(136px);-o-transform: rotate(24deg) translatey(136px);-webkit-transform: rotate(24deg) translatey(136px);transform: rotate(24deg) translatey(136px);}*/
/*.page-nav-skin-header .circles.on li.about h2 {   -moz-transform: rotate(-24deg);                -ms-transform: rotate(-24deg);-o-transform: rotate(-24deg);                                     -webkit-transform: rotate(-24deg);transform: rotate(-24deg);}*/
/*.page-nav-skin-header .circles.on li.film {     -moz-transform: rotate(90deg) translatey(136px);-ms-transform: rotate(90deg) translatey(136px);-o-transform: rotate(90deg) translatey(136px);-webkit-transform: rotate(90deg) translatey(136px);transform: rotate(90deg) translatey(136px);}*/
/*.page-nav-skin-header .circles.on li.film h2 {   -moz-transform: rotate(-90deg);                -ms-transform: rotate(-90deg);-o-transform: rotate(-90deg);                                   -webkit-transform: rotate(-90deg);transform: rotate(-90deg);}*/
/*.page-nav-skin-header .circles.on li.photo {    -moz-transform: rotate(68deg) translatey(136px);-ms-transform: rotate(68deg) translatey(136px);-o-transform: rotate(68deg) translatey(136px);-webkit-transform: rotate(68deg) translatey(136px);transform: rotate(68deg) translatey(136px);}*/
/*.page-nav-skin-header .circles.on li.photo h2 {  -moz-transform: rotate(-68deg);                -ms-transform: rotate(-68deg);-o-transform: rotate(-68deg);                                   -webkit-transform: rotate(-68deg);transform: rotate(-68deg);}*/


/* list
-----------------*/
.list-skin-skills {margin: 0;}
.list-skin-skills .list-item {height: 40px; margin: 0; margin-top: 1px; background-color: #913b64; color: #fff; list-style: none; }
.list-skin-skills .list-item span {padding: 10px; line-height: 40px;}

/*.helper-color-purple {}*/
/*.helper-color-red {}*/
/*.helper-color-blue {}*/

/*swipe styles */
body.ps-active, body.ps-building, div.ps-active, div.ps-building{  background: rgba(0, 0, 0, 0.8);	overflow: hidden;}body.ps-active *, div.ps-active *{	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);	display: none;}body.ps-active *:focus, div.ps-active *:focus{	outline: 0;}/* Document overlay */div.ps-document-overlay{	background: rgba(0, 0, 0, 0.8);}/* UILayer */div.ps-uilayer {  background: rgba(0, 0, 0, 0.8);  cursor: pointer;}/* Zoom/pan/rotate layer */div.ps-zoom-pan-rotate{	background: #000;}div.ps-zoom-pan-rotate *  { display: block; }/* Carousel */div.ps-carousel-item-loading{	background: url(images/loader.gif) no-repeat center center;}div.ps-carousel-item-error{	background: url(images/error.gif) no-repeat center center;}/* Caption */div.ps-caption{	background: #000000;	background: -moz-linear-gradient(top, #303130 0%, #000101 100%);	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303130), color-stop(100%,#000101));	border-bottom: 1px solid #42403f;	color: #ffffff;	font-size: 13px;	font-family: "Lucida Grande", Helvetica, Arial,Verdana, sans-serif;	text-align: center;}div.ps-caption *  { display: inline; }div.ps-caption-bottom{	border-top: 1px solid #42403f;	border-bottom: none;	min-height: 44px;}div.ps-caption-content{	padding: 13px;	display: block;}/* Toolbar */div.ps-toolbar{	background: #000000;	background: -moz-linear-gradient(top, #303130 0%, #000101 100%);	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303130), color-stop(100%,#000101));	border-top: 1px solid #42403f;	color: #ffffff;	font-size: 13px;	text-align: center;	height: 44px;	display: table;	table-layout: fixed;}div.ps-toolbar * {	display: block;}div.ps-toolbar-top{	border-bottom: 1px solid #42403f;	border-top: none;}div.ps-toolbar-close, div.ps-toolbar-previous, div.ps-toolbar-next, div.ps-toolbar-play{	cursor: pointer;	display: table-cell;}div.ps-toolbar div div.ps-toolbar-content{	width: 44px;	height: 44px;	margin: 0 auto 0;	background-image: url(images/swipe-icons.png);	background-repeat: no-repeat;}div.ps-toolbar-close div.ps-toolbar-content{	background-position: 0 0;}div.ps-toolbar-previous div.ps-toolbar-content{	background-position: -44px 0;}div.ps-toolbar-previous-disabled div.ps-toolbar-content{	background-position: -44px -44px;}div.ps-toolbar-next div.ps-toolbar-content{	background-position: -132px 0;}div.ps-toolbar-next-disabled div.ps-toolbar-content{	background-position: -132px -44px;}div.ps-toolbar-play div.ps-toolbar-content{	background-position: -88px 0;}/* Hi-res display */@media only screen and (-webkit-min-device-pixel-ratio: 1.5),       only screen and (min--moz-device-pixel-ratio: 1.5),       only screen and (min-resolution: 240dpi){	div.ps-toolbar div div.ps-toolbar-content	{		-moz-background-size: 176px 88px;		-o-background-size: 176px 88px;		-webkit-background-size: 176px 88px;		background-size: 176px 88px;		background-image: url(images/icons@2x.png);	}}


/* blog
-----------------*/
.blog-wrapper {max-width: 640px;}
.blog-wrapper img {width: 100%; height: auto;}
.photoset { margin-right: 10px; margin-bottom: 10px;}
.photoset img {width: 100%;}

/* images
-----------------*/
.gallery {z-index: -10;}
.gallery img {width: 100%; background: #f1f1f1;}
.image-grid {width: 25%;}
.image-wrapper {margin-right: 10px; overflow: hidden; margin-top: 10px; }
.image-wrapper a {display: block;}
.image-wrapper h2 {margin: 0; white-space: nowrap; line-height: 1;}



/* about page
-----------------*/
.page-skin-ext-about img.main-image {width:100%; margin-top: 15px;}
.ext-italic {font-style: oblique;}
.media .media-body p {margin: 0 10px;}
.media-skin-about-quote img {width: 140px;}


/*media queries*/
@media all and (max-width: 1000px) {
  /* images
-----------------*/
.image-grid {width: 33%;}
.image-wrapper h2 {font-size: 150%;}

.page-skin-1 .page-header h1 {font-size: 130%; padding-top: 20px; line-height: 1;}
.page-header h2 {font-size: 130%; margin-top: 20px; }
.page-nav-skin-header .menu-item {border-radius: 30px; height: 30px; width: 30px;}
.page-nav-skin-header .circles.on .menu-item {border-radius: 40px; height: 40px; width: 40px;}
.menu-skin-header {width: 250px;}
body { font-size: 14px;}

  .page-nav-skin-header .menu-skin-header .menu-item h2 {margin-top: 5px;}
  .menu-skin-header .menu-item h2 i {background-size: 210px auto;}
  .menu-skin-header .menu-item.film h2 i {background-position: -1px 0; height: 15px; margin-top: 4px; }
  .menu-skin-header .menu-item.photo h2 i {background-position: -2px -34px; height: 14px; margin-top: 3px; margin-left: 2px; }
  .menu-skin-header .menu-item.design h2 i {background-position: 2px -71px; height: 14px; margin-top: 5px; }
  .menu-skin-header .menu-item.about h2 i {background-position: -1px -84px; height: 26px; margin-top: 1px; margin-left: 4px; }
  .menu-skin-header .menu-item.blog h2 i {background-position: 2px -50px; height: 19px; margin-top: 1px; }


}

@media screen and (max-width: 640px) {
  .image-grid {width: 50%;}
  .blog-wrapper img {width: 100%; height: auto;}

  .page-skin-1 .page-header h1 {font-size: 100%; padding-top: 15px; line-height: 1;}
  .page-header h2 {font-size: 100%; margin-top: 15px;}
  .page {padding: 0 10px;}
  .page-skin-ext-about .size1of2 {width:100%;}
  .page-skin-ext-about p {margin-left: 0; margin-right: 0;}
  .media-skin-about-quote img {width: 80px;}
  p {font-size: 12px;}
  .size1of3 {width: 38%}
  .size2of3 {width: 62%}
  .menu-skin-header {margin-top: 10px; width: 174px;}
  .page-nav-skin-header .menu-item {border-radius: 25px; height: 25px; width: 25px; margin-right: 10px;}

  .page-nav-skin-header .menu-skin-header .menu-item h2 {margin-top: 5px;}
  .menu-skin-header .menu-item h2 i {background-size: 180px auto;}
  .menu-skin-header .menu-item.film h2 i {background-position: -2px 0; height: 11px; margin-top: 2px; }
  .menu-skin-header .menu-item.photo h2 i {background-position: -2px -29px; height: 14px; margin-top: 1px; margin-left: 2px; }
  .menu-skin-header .menu-item.design h2 i {background-position: 0 -59px; height: 14px; margin-top: 1px; }
  .menu-skin-header .menu-item.about h2 i {background-position: -2px -73px; height: 26px; margin-top: 1px; margin-left: 4px; }
  .menu-skin-header .menu-item.blog h2 i {background-position: 2px -44px; height: 14px; margin-top: 1px; }

}

/* mods
-----------------*/

.mod-skin-film {margin: 0;}
.mod-skin-film .mod-header h1 {margin: 0;}
.mod-skin-film .mod-body p {margin: 0;}
.mod-skin-film .mod-body .film-plays {text-transform: uppercase; font-weight: 600; margin-left: 10px;}
.mod-skin-film .mod-body .feature-film {margin-bottom: 10px;}

.mod-skin-blog-post {border-bottom: 1px solid #ccc; padding-bottom: 40px; margin-top: 40px;}
.mod-skin-blog-post .mod-header * {margin-left: 0; margin-right: 0;}
.mod-skin-blog-post .mod-body * {margin-left: 0; margin-right: 0;}
.mod-skin-blog-post .mod-body * .specs {font-size: 14px;}
.mod-skin-blog-post .mod-body ol {margin-left: 22px;}
.mod-skin-blog-post .mod-body embed {margin-left: 0; margin-right: 0; width: 100%;}
.mod-skin-blog-post .mod-footer * {margin-left: 0; margin-right: 0;}
.mod-skin-blog-post .mod-footer .tag {margin-right: 10px; }

