/*----------------------------------------------------
  _        __  _
 |_)  /\  (_  |_
 |_) /--\ __) |_

 Element Defaults, Colors and Overrides of core.css
-----------------------------------------------------*/

/*html {overflow: auto;overflow: auto;}*/
body { font:14px/1.62  "Proxima Nova Condensed", Helvetica, Arial, sans-serif; color: #444444;}

h1, h2, h3, h4, h5, h6, ul, ol,dl, p,blockquote,pre,address,.field, .mod, table, .tabset  {margin:10px 20px;}
/*.media .media-block{margin-left:10px}*/
p{margin-bottom: 18px;}

a, a:active, a:visited {color: inherit; text-decoration: none;  }
a:hover {}

::-moz-selection{ background: #4089b5; color:#fff; text-shadow: none; }
::selection { background:#4089b5; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #edbb54; }

h1, .h1{font-family: "Proxima Nova Extra Condensed", Helvetica, Arial, sans-serif; text-transform: uppercase; font-size:228.5%;  line-height:1.25; font-weight:600; font-style: normal; color:#222;}
h2, .h2{font-family: "Proxima Nova Extra Condensed", Helvetica, Arial, sans-serif; text-transform: uppercase; font-size:200%;    line-height:1.25; font-weight:600; font-style: normal; color:#222;}
h3, .h3{font-family: "Proxima Nova Extra Condensed", Helvetica, Arial, sans-serif; text-transform: uppercase; font-size:171%;    line-height:1.5;  font-weight:600; font-style: normal; color:#222;}
h4, .h4{font-family: "Proxima Nova Extra Condensed", Helvetica, Arial, sans-serif; text-transform: uppercase; font-size:150%;    line-height:1.5;  font-weight:200; font-style: normal; color:#222;}
h5, .h5{font-family: "Proxima Nova Extra Condensed", Helvetica, Arial, sans-serif; text-transform: uppercase; font-size:100%;    line-height:1.5;  font-weight:200; font-style: normal; color:#222;}
h6, .h6{font-family: "Proxima Nova Extra Condensed", Helvetica, Arial, sans-serif; text-transform: uppercase; font-size:100%;    line-height:1.5;  font-weight:200; font-style: normal; color:#222;}


input:focus, textarea:focus, select:focus {border: 1px solid #ccc; box-shadow: none;outline: medium none;}
input[type="text"], input[type="password"] {}
input[type="text"], input[type="password"] {box-shadow: none; height: 100%; *height: 30px; background: transparent; line-height: 30px;  border: none; margin: 0; padding: 0; width: 100%;}
label { font-weight: 600; font-size: 14px;}
textarea {width: 100%; }

/* text color helpers */
.txt-green{color:#a4d133;}
.txt-ltgrey{color:#BFBFBF;}
.txt-ltblue{color:#4089b5;}
.txt-red{color:#9D261D;}




/*----------------------------------------------------
  __    ___       __
 (_  |/  |  |\ | (_
 __) |\ _|_ | \| __)

 Skins of core.css objects
-----------------------------------------------------*/


/* page
-----------------*/
.page {padding: 0 40px; height: auto;}
.page-skin-1 {max-width: 1200px; margin: 0 auto;}
.page-skin-1 .page-header h1 {
  transition: margin-top .8s;
  -moz-transition: margin-top .8s; /* Firefox 4 */
  -webkit-transition: margin-top .8s; /* Safari and Chrome */
  -o-transition: margin-top .8s; /* Opera */
  background: #222; color: #fff; float: left; padding: 35px 5px 5px 20px; margin: -80px 0 20px 0px; line-height: 22px;}
.page-skin-1 .page-header h1.on {margin-top: 0;}
.page-skin-1 .page-header h1 a { color: #fff;}

.page-skin-ext-photo .page-header h1 { background: #d94747;}
.page-skin-ext-film .page-header h1 { background: #d94747;}
.page-skin-ext-apps .page-header h1 { background: #d94747;}
.page-skin-ext-photo .page-header h1 { background: #d94747;}
.page-skin-ext-photo .page-header h2 { margin-top: 0;font-size: 68px;margin-left: 4px;float: left;}
.page-skin-ext-photo .page-header h2 a {color: #D94747;}
.page-skin-ext-photo .page-header h1 { background: #d94747;}

/* menu
-----------------*/
.page-nav-skin-header {float: right;}
.page-nav-skin-header .nav-init {cursor: pointer; height: 60px; width: 60px; border-radius: 60px; background-color: #222; margin: 10px 60px 0 0;}
.page-nav-skin-header .nav-init:hover {cursor: pointer;background-color: #333;}
.page-nav-skin-header .nav-init h2 {color: #fff; font-size: 22px; margin: 0 auto; padding: 18px 10px;}

.page-nav-skin-home {position: absolute; display: none;}
.page-nav-skin-home .nav-init {
  transition: margin-left .8s, margin-top .8s, width .8s, height .8s, transform .8s;
  -moz-transition: margin-left .8s, margin-top .8s, width .8s, height .8s, -moz-transform .8s;
  -webkit-transition: margin-left .8s, margin-top .8s, width .8s, height .8s, -webkit-transform .8s;
  -o-transition: margin-left .8s, margin-top .8s, width .8s, height .8s,-o-transform .8s;
  cursor: pointer; position: relative; margin: 0 auto; height: 150px; width: 150px; border-radius: 150px; background-color: #222; }
.page-nav-skin-home .nav-init.on {margin-left: -25px; margin-top: -25px; width: 200px; height: 200px;}
.page-nav-skin-home .nav-init:hover {cursor: pointer;background-color: #333;}
.page-nav-skin-home .nav-init h2 {
  transition: padding-top .8s;
  -moz-transition: padding-top .8s;
  -webkit-transition: padding-top .8s;
  -o-transition: padding-top .8s;
  font-size: 40px; color: #fff; width: 100%; text-align: center; margin: 0; padding-top: 50px;}
.page-nav-skin-home .nav-init.on h2 {padding-top: 80px;}

.menu-item {background: #999; border-radius: 60px; height: 60px; width: 60px; list-style: none; cursor: pointer;}
.menu-item:hover {opacity: 0.9;}
.menu-item i {background: transparent url(images/icons.png) no-repeat scroll 0 0; float: left;}
.menu-item h2 span {float: left; clear: left;}
.menu-item h2 {color: #fff; font-size: 20px; width: 100%; margin: 0;}
.menu-item.photo {background-color: #d94747; }
.menu-item.photo h2 {margin-top: 33px; margin-left: 23px;}
.menu-item.photo i {height: 20px; width: 25px; background-position: 0 -45px; margin-left: 6px;}
.menu-item.film {background-color: #2673A6;}
.menu-item.film h2 {margin-top: 54px; margin-left: 0px;}
.menu-item.film i {height: 20px; width: 25px; background-position: 0 1px; margin-left: 2px;}
.menu-item.blog {background-color: #87B33A;}
.menu-item.blog h2 {margin-top: 10px; margin-left: -17px;}
.menu-item.blog i {height: 21px; width: 33px; background-position: 3px -68px; margin-left: -2px;}
.menu-item.design {background-color: #E3D661;}
.menu-item.design h2 {margin-top: 8px; margin-left: 7px;}
.menu-item.design i {height: 20px; width: 25px; background-position: 3px -92px; margin-left: 6px;}
.menu-item.apps {background-color: #963961;}
.menu-item.apps h2 {margin-top: 39px; margin-left: -26px;}
.menu-item.apps i {height: 25px; width: 22px; background-position: 4px -21px;}

.holder {position:absolute; left: 50px; top: 50px;}
ul.circles {z-index: -1; padding:0; margin:0; list-style:none; width:32px; height:32px; position:absolute; left:-20px; top:-8px; -webkit-transition:}
ul.circles > li {position:absolute; left:0; top:0;-moz-transition: -moz-transform 0.5s ease-in-out;-ms-transition: -ms-transform 0.5s ease-in-out;-o-transition: -o-transform 0.5s ease-in-out;-webkit-transition: top 0.8s,left 0.8s, -webkit-transform 0.5s ease-in-out;transition: transform 0.5s ease-in-out;}

.holder a {display:block; width:32px; height:32px; position:absolute; left:0; top:0; line-height:32px; text-align:center; text-decoration:none;}

ul.circles.on { height: 0; width: 0; }

ul.circles.on li.design {   -moz-transform: rotate(0deg) translatey(136px); -ms-transform: rotate(0deg) translatey(136px);-o-transform: rotate(0deg) translatey(136px);-webkit-transform: rotate(0deg) translatey(136px);transform: rotate(0deg) translatey(136px); }
ul.circles.on li.design h2 { -moz-transform: rotate(0deg);                   -ms-transform: rotate(0deg);-o-transform: rotate(0deg);                                     -webkit-transform: rotate(0deg);transform: rotate(0deg);}
ul.circles.on li.blog {     -moz-transform: rotate(72deg) translatey(136px);-ms-transform: rotate(72deg) translatey(136px);-o-transform: rotate(72deg) translatey(136px);-webkit-transform: rotate(72deg) translatey(136px);transform: rotate(72deg) translatey(136px);}
ul.circles.on li.blog h2 {   -moz-transform: rotate(-72deg);                 -ms-transform: rotate(-72deg);-o-transform: rotate(-72deg);                                   -webkit-transform: rotate(-72deg);transform: rotate(-72deg);}
ul.circles.on li.apps {     -moz-transform: rotate(144deg) translatey(136px);-ms-transform: rotate(144deg) translatey(136px);-o-transform: rotate(144deg) translatey(136px);-webkit-transform: rotate(144deg) translatey(136px);transform: rotate(144deg) translatey(136px);}
ul.circles.on li.apps h2 {   -moz-transform: rotate(-144deg);                -ms-transform: rotate(-144deg);-o-transform: rotate(-144deg);                                     -webkit-transform: rotate(-144deg);transform: rotate(-144deg);}
ul.circles.on li.film {     -moz-transform: rotate(216deg) translatey(136px);-ms-transform: rotate(216deg) translatey(136px);-o-transform: rotate(216deg) translatey(136px);-webkit-transform: rotate(216deg) translatey(136px);transform: rotate(216deg) translatey(136px);}
ul.circles.on li.film h2 {   -moz-transform: rotate(-216deg);                -ms-transform: rotate(-216deg);-o-transform: rotate(-216deg);                                   -webkit-transform: rotate(-216deg);transform: rotate(-216deg);}
ul.circles.on li.photo {    -moz-transform: rotate(288deg) translatey(136px);-ms-transform: rotate(288deg) translatey(136px);-o-transform: rotate(288deg) translatey(136px);-webkit-transform: rotate(288deg) translatey(136px);transform: rotate(288deg) translatey(136px);}
ul.circles.on li.photo h2 {  -moz-transform: rotate(-288deg);                -ms-transform: rotate(-288deg);-o-transform: rotate(-288deg);                                   -webkit-transform: rotate(-288deg);transform: rotate(-288deg);}



/*swipe styles */
body.ps-active, body.ps-building, div.ps-active, div.ps-building{  background: rgba(0, 0, 0, 0.8);	overflow: hidden;}body.ps-active *, div.ps-active *{	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);	display: none;}body.ps-active *:focus, div.ps-active *:focus{	outline: 0;}/* Document overlay */div.ps-document-overlay{	background: rgba(0, 0, 0, 0.8);}/* UILayer */div.ps-uilayer {  background: rgba(0, 0, 0, 0.8);  cursor: pointer;}/* Zoom/pan/rotate layer */div.ps-zoom-pan-rotate{	background: #000;}div.ps-zoom-pan-rotate *  { display: block; }/* Carousel */div.ps-carousel-item-loading{	background: url(images/loader.gif) no-repeat center center;}div.ps-carousel-item-error{	background: url(images/error.gif) no-repeat center center;}/* Caption */div.ps-caption{	background: #000000;	background: -moz-linear-gradient(top, #303130 0%, #000101 100%);	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303130), color-stop(100%,#000101));	border-bottom: 1px solid #42403f;	color: #ffffff;	font-size: 13px;	font-family: "Lucida Grande", Helvetica, Arial,Verdana, sans-serif;	text-align: center;}div.ps-caption *  { display: inline; }div.ps-caption-bottom{	border-top: 1px solid #42403f;	border-bottom: none;	min-height: 44px;}div.ps-caption-content{	padding: 13px;	display: block;}/* Toolbar */div.ps-toolbar{	background: #000000;	background: -moz-linear-gradient(top, #303130 0%, #000101 100%);	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303130), color-stop(100%,#000101));	border-top: 1px solid #42403f;	color: #ffffff;	font-size: 13px;	font-family: "Lucida Grande", Helvetica, Arial,Verdana, sans-serif;	text-align: center;	height: 44px;	display: table;	table-layout: fixed;}div.ps-toolbar * {	display: block;}div.ps-toolbar-top{	border-bottom: 1px solid #42403f;	border-top: none;}div.ps-toolbar-close, div.ps-toolbar-previous, div.ps-toolbar-next, div.ps-toolbar-play{	cursor: pointer;	display: table-cell;}div.ps-toolbar div div.ps-toolbar-content{	width: 44px;	height: 44px;	margin: 0 auto 0;	background-image: url(images/swipe-icons.png);	background-repeat: no-repeat;}div.ps-toolbar-close div.ps-toolbar-content{	background-position: 0 0;}div.ps-toolbar-previous div.ps-toolbar-content{	background-position: -44px 0;}div.ps-toolbar-previous-disabled div.ps-toolbar-content{	background-position: -44px -44px;}div.ps-toolbar-next div.ps-toolbar-content{	background-position: -132px 0;}div.ps-toolbar-next-disabled div.ps-toolbar-content{	background-position: -132px -44px;}div.ps-toolbar-play div.ps-toolbar-content{	background-position: -88px 0;}/* Hi-res display */@media only screen and (-webkit-min-device-pixel-ratio: 1.5),       only screen and (min--moz-device-pixel-ratio: 1.5),       only screen and (min-resolution: 240dpi){	div.ps-toolbar div div.ps-toolbar-content	{		-moz-background-size: 176px 88px;		-o-background-size: 176px 88px;		-webkit-background-size: 176px 88px;		background-size: 176px 88px;		background-image: url(images/icons@2x.png);	}}


/* images
-----------------*/
.gallery img {width: 100%;}
.image-grid {width: 25%;}
.image-wrapper {margin-right: 10px; overflow: hidden; margin-top: 10px;}
.image-wrapper h2 {margin: 0;}




/*media queries*/
@media all and (max-width: 1000px) {
  /* images
-----------------*/
.image-grid {width: 33%;}
.image-wrapper h2 {font-size: 150%;}

}

@media screen and (max-width: 640px) {
  .image-grid {width: 50%;}

}

